<<<<<<< HEAD
#main-heading {
	text-align: center;
	font-size: 40px;

}

#append{
	margin-top: 2em;
}

.btn {
	margin-right:15px;

}

.h2main	{

	color: red;
}

body	{
	background-color: black;
	color: 	#D46A6A;
	}
footer	{
color: gold;	
margin-left: 1.9em;
}

}

.valen	{

color: yellow;
}

#append	{
font-weight: bold;
color: darkgreen;

}
=======
body, header, footer	{

background: black;
color: white;

}

input		{
	
	color: #D46A6A;
}

form		{

text-align: center;

}

@media (min-width: 720px) and (max-width: 1200px) || (min-width: 760px) { 

	html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, 
center,

 form, label,

 
figure, figcaption, footer, header, 

{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}

	.princ,
.intr,
.rate,
.cycle	{
	
		margin-right: 30%;
	
		}
	.calc	{
	
	width: 50%;
    margin: 0 auto;
	
	
	}
	
	}
	
	@media (min-width: 981px)	{
	
	.princ,
	.intr,
	.rate,
	.cycle{
	
		margin-right: 30%;
	
	}
	
	}
.calc	{
	width: 50%;
    margin: 0 auto;
	
	
	}
	}
	
>>>>>>> 48488bcba7d55522d85978ec35467149c5abb41e
